tasks.json
# extensions.json
*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# under ~/Appdate/Roaming/Code/User

globalStorage/
History/
snippets/
sync/
workspaceStorage/
